            .navbar {
                z-index: 1;
            }
            
            .bg-custom {
                color: rgba(0, 1, 2, 0.616);
            }
            
            body {
                font-family: 'Ubuntu', sans-serif;
                margin-top: -50px;
            }
            /* .jumbotron {
    background-image: url('../img/tes.jpg');
    background-size: cover;
    height: 950px;
    text-align: center;
    position: relative;
    margin-top: -100px;
}

.jumbotron h1 {
    margin-top: 250px;
    color: antiquewhite;
    border-radius: 1px;
}

.jumbotron p {
    color: antiquewhite;
} */
            
            .carousel-captions {
                position: absolute;
                /* right: 15%; */
                /* bottom: 20px; */
                left: 34%;
                margin-top: -400px;
                /* padding-top: 20px; */
                /* padding-bottom: 20px; */
                color: #fff;
                text-align: center;
            }
            
            .carousel-slide {
                margin-top: -100px;
            }
            
            .carousel-item .active img {
                height: px;
            }